@import "var.scss";

* {
  box-sizing: border-box;
}

.container {
  display: grid;
  grid-template-rows: 1fr 3fr 2fr;
}

.header {
  min-height: 100px;
  background-color: gray;
  .header__title {
    @include title;
  }
}

.main {
  min-height: 300px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  .main__title {
    @include title;
  }
  .main__wrapper {
    background-color: rgb(255, 228, 181);
    text-align: center;
    .main__basic {
      display: flex;
      justify-content: space-around;
      .main__item {
        background-color: rgb(255, 209, 185);
        width: 40%;
      }
    }
  }
}

.main__text {
  font-size: 1.1em;
  font-family: $font;
}

.main__item-bottom {
  display: inline-block;
  background-color: rgb(255, 209, 185);
  width: 90%;
  margin-top: 20px;
}

.main__side {
  background-color: rgb(144, 238, 144);
}

.footer__wrapper {
  min-height: 14vh;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  align-items: center;
  background-color: gray;
}

.footer__item {
  display: grid;
  justify-items: center;
  align-items: center;
  width: 80%;
  min-height: 8vh;
  background-color: lightgrey;
}
.footer__text {
  font-size: 1.1em;
}
